@use 'variaveis';

.footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid variaveis.$corBotao;
    margin-top: 60px;

    &__container {
        padding: 5.6vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding: 0;

            @media (max-width: 768px) {
                text-align: center;
            }
        }

    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-bottom: 25px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0;
            align-items: center;
        }
        
    }
}